.page-container {
  background-color: #f8f8f8;
  padding-bottom: 40rpx;
  margin-bottom: 80rpx;

  .large-image-container {
    position: relative;
    width: 100%;
    height: 500rpx;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);

    .large-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: black;
    }

    .gradient-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
    }

    .thumbnails {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      white-space: nowrap;
      display: flex;

      .thumbnail {
        display: inline-flex;
        width: calc(22% - 20rpx);
        height: 80rpx;
        margin-left: 20rpx;
        border-radius: 10rpx;
        object-fit: cover;
        border: 4rpx solid transparent;
      }

      .thumbnail.selected {
        border-color: white;
      }
    }
  }

  .description {
    background-color: #181717;
    padding: 20rpx;
    color: #d3d3d3;

    .top-section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20rpx;

      .text-content {
        display: flex;
        flex: 1;
        flex-direction: column;

        .title {
          display: flex;
          width: 550rpx;

          .logo {
            width: 60rpx;
            height: 60rpx;
            border-radius: 50%;
            margin-right: 20rpx;
            flex-shrink: 0;
          }

          .venue-name {
            font-size: 42rpx;
            font-weight: bold;
            color: white;
            margin-bottom: 10rpx;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
          }
        }

        .venue-tags {
          margin-top: 20rpx;
          display: flex;
          flex-wrap: wrap;

          .tag {
            padding: 5rpx 16rpx;
            background-color: #D2D1D1;
            color: #000000;
            font-size: 24rpx;
            border-radius: 4rpx;
            margin-right: 10rpx;
            margin-bottom: 10rpx;
          }
        }
      }

      .recommend-section {
        flex-shrink: 0;
        width: 120rpx;
        display: flex;
        flex-direction: column;
        align-items: center;

        .recommend-top {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10rpx 10rpx 0 0;
          background-color: #FF073E;
          padding: 10rpx;
          padding-top: 15rpx;

          .thumb-icon {
            width: 26rpx;
            height: 26rpx;
          }

          .recommend-text {
            font-size: 24rpx;
            color: white;
          }
        }

        .recommend-bottom {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: black;
          border-radius: 0 0 10rpx 10rpx;
          padding: 10rpx;
          padding-bottom: 15rpx;

          .recommend-count {
            font-size: 18rpx;
            color: white;
          }
        }
      }
    }

    .bottom-section {
      display: flex;
      align-items: flex-start;
      margin-bottom: 30rpx;
      font-size: 26rpx;
      color: #D8D7D7;
      line-height: 1.5;
    }
  }

  .foot-nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 120rpx;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .foot-btn {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 18rpx;

      .btn-image {
        width: 40rpx;
        height: 40rpx;
        margin-bottom: 10rpx;
      }
    }

    .share-btn {
      .option-name {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25rpx;
      }
    }
  }
}

.venue-intro {
  margin-top: 60rpx;

  position: relative;
  top: 0;
  width: 100%;
  height: 480rpx;
}

.venue-background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: blur(5rpx);
  white-space: nowrap;
  text-align: center;
}

.venue-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.venue-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venue-logo {
  width: 150rpx;
  height: 150rpx;
  border-radius: 50%;
  margin-bottom: 10rpx;
}

.venue-name {
  font-size: 30rpx;
  font-weight: bold;
  color: #f0f0f0;
  margin-bottom: 10rpx;
}

.venue-description {
  font-size: 22rpx;
  text-align: center;
  width: 700rpx;
  color: #f0f0f0;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-line;
  margin: 2.5rpx 0.5rpx 2.5rpx 0.5rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.location {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 20rpx;
  padding: 20rpx;
  border-radius: 20rpx;
  box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.1);

  .header {
    font-size: 30rpx;
    font-weight: bold;
    color: #333;
    margin-bottom: 10rpx;
  }

  .map-view {
    margin-bottom: 20rpx;
    border-radius: 20rpx;
    overflow: hidden;

    .map-comp {
      width: 100%;
      height: 200rpx;
    }
  }

  .address {
    font-size: 24rpx;
    color: #888;
  }
}

.media-section {
  background-color: #ffffff;
  margin: 20rpx;
  padding: 20rpx;
  border-radius: 20rpx;
  box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.1);

  .media-header {
    font-size: 34rpx;
    font-weight: bold;
    color: #333;
    margin-bottom: 20rpx;
  }

  .media-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .media-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 160rpx;
      margin: 10rpx 20rpx;

      .media-icon {
        margin-bottom: 10rpx;
        width: 70rpx;
        height: 70rpx;
      }

      .media-name {
        font-size: 22rpx;
        color: #333;
      }
    }
  }
}

.booking-section {
  background-color: #ffffff;
  margin: 20rpx;
  padding: 20rpx;
  border-radius: 20rpx;
  box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.1);

  .booking-header {
    font-size: 34rpx;
    font-weight: bold;
    color: #333;
    margin-bottom: 20rpx;
  }

  .contact-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .option {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 160rpx;
      margin: 10rpx 20rpx;

      .option-icon {
        margin-bottom: 10rpx;
        border-radius: 50%;
        width: 65rpx;
        height: 65rpx;
      }

      .option-name {
        font-size: 22rpx;
        color: #333;
      }
    }
  }

  .explanation {
    padding-top: 20rpx;
    font-size: 22rpx;
    color: lightgray;

    .highlight {
      color: #007AFF;
      // text-decoration: underline;
    }
  }
}

// facility section
.facility-section {
  background-color: #ffffff;
  padding: 20rpx;
  border-radius: 10rpx;
  box-shadow: 0 2rpx 8rpx rgba(0, 0, 0, 0.1);
  margin: 20rpx;

  .facility-header {
    font-size: 30rpx;
    font-weight: bold;
    color: #333;
    margin-bottom: 20rpx;
  }

  .facility-cards {
    display: flex;
    flex-wrap: wrap;

    .cards {
      display: flex;
      flex-wrap: wrap;

      .facility-card {
        width: 96rpx;
        margin: 20rpx;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .facility-icon {
          width: 40rpx;
          height: 40rpx;
          margin-bottom: 10rpx;
        }

        .facility-name {
          font-size: 24rpx;
        }
      }
    }
  }
}

.introduction {
  white-space: nowrap;
  display: flex;

  .pic-item {
    margin: 10px;
    margin-right: 0px;
    display: inline-flex;
  }

  .pic-item-image {
    border-radius: 15rpx;
  }
}

.share {
  background-color: white;
  width: 60rpx;
  height: 60rpx;
  z-index: 10;
  position: fixed;
  // top: 70rpx;
  // right: 30rpx;
  border-radius: 50%;
  box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.5);

  .btn {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .pic {
    width: 90%;
    height: 90%;
    margin: 5%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .line {
    width: 100%;
    height: 100%;
    border: 3rpx solid rgb(200, 200, 200);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    animation: emit 2s infinite;
    box-sizing: border-box; // 确保边框宽度不会影响元素大小
  }
}

@keyframes emit {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    border-width: 4rpx;
    transform: scale(1.3);
    opacity: 0;
  }
}