.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-container .swiper {
  width: 100%;
  position: relative;
}

.page-container .swiper .slogans {
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to top, #EAF3FF 0%, #007AFF 100%);
}

.page-container .swiper .slogans .slogans-container {
  color: white;
  display: flex;
  margin-left: 40rpx;
  justify-content: start;
  align-items: flex-end;
}

.page-container .swiper .slogans .slogans-container .big-slogan {
  font-weight: bold;
}

.page-container .swiper .slogans .slogans-container .small-slogan {
  margin-left: 20rpx;
}

.page-container .search-target-container {
  width: 85%;
  background-color: #fff;
  border-radius: 30rpx;
  padding: 30rpx;
  margin-top: -40rpx;
  box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.page-container .search-target-container .city-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20rpx;
}

.page-container .search-target-container .city-selector .selector {
  display: flex;
  align-items: center;
}

.page-container .search-target-container .city-selector .selector .city-text {
  margin-right: 10rpx;
  font-size: 40rpx;
  font-weight: bold;
}

.page-container .search-target-container .city-selector .selector .city-arrow {
  color: #b8b0b0;
}

.page-container .search-target-container .city-selector .locate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-container .search-target-container .city-selector .locate .locate-text {
  margin-top: 6rpx;
  font-size: 18rpx;
}

.page-container .search-target-container .city-selector .locate .aim {
  color: black;
}

.page-container .search-target-container .keyword-input-container {
  margin-bottom: 20rpx;
}

.page-container .search-target-container .search-btn {
  width: 100%;
  border-radius: 40rpx;
  font-size: 36rpx;
  background-color: #007AFF;
  color: #EAF3FF;
}

.page-container .recommend-container {
  width: 85%;
  background-color: #fff;
  border-radius: 20rpx;
  padding: 15rpx 30rpx;
  margin-top: 20rpx;
  box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.1);
  display: flex;
}

.page-container .recommend-container .venue-image {
  width: 20%;
  height: 120rpx;
  object-fit: cover;
  border-radius: 10rpx;
}

.page-container .recommend-container .info {
  margin-left: 20rpx;
  width: 76%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-container .recommend-container .info .name,
.page-container .recommend-container .info .address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-container .recommend-container .info .name {
  font-size: 34rpx;
}

.page-container .recommend-container .info .comment {
  display: flex;
  align-items: center;
}

.page-container .recommend-container .info .comment .star-text {
  margin: 5rpx;
  font-size: 26rpx;
}

.page-container .recommend-container .info .address {
  font-size: 22rpx;
  color: #888;
}

.page-container .loadOut {
  text-align: center;
  padding: 40rpx 0;
}

.page-container .loadOut .noData {
  font-size: 24rpx;
  color: #666;
}

.venue-loading-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200rpx;
  width: 100%;
}
