.container {
  .input-container {
    width: 100%;
    padding: 30rpx 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .input-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        padding: 20rpx;
        width: 200rpx;
        text-align: center;
        font-size: 50rpx;
        font-weight: bold;
      }
    }

    .input-title {
      margin-top: 10rpx;
      font-size: 36rpx;
      color: #999;
    }

    .unit-display {
      position: absolute;
      top: 10rpx;
      right: 10rpx;
      cursor: pointer;

      .unit-text {
        font-size: 26rpx;
        margin-right: 10rpx;
      }
    }
  }

  .sub-title {
    width: 100%;
    color: #999;
    padding: 20rpx;
    font-size: 24rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60rpx;
  }

  .percentages-container {
    padding: 20rpx 0;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .percentage-item {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10rpx;
      // border: 1px solid #e0e0e0;
      margin-bottom: 10rpx;

      .weight {
        font-size: 28rpx;
        font-weight: 700;
      }

      .percent-100,
      .percent {
        font-size: 18rpx;
        margin-top: 5rpx;
      }

      .percent-100 {
        color: #6639A6;
        font-weight: bold;
      }
    }
  }

  .records-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .records-item {
      padding: 20rpx;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1rpx solid #e0e0e0;

      .date {
        font-size: 22rpx;
      }

      .record {
        font-size: 26rpx;
      }
    }

    .records-item:last-child {
      border-bottom: none;
    }
  }

  .bar-type-toggle {
    width: 100%;
    display: flex;
    align-items: center;

    .bar-type-text {
      background: #6639A6;
      color: #F6F3FB;
      font-weight: bold;
      font-size: 24rpx;
      padding: 4rpx 18rpx;
      border-radius: 10rpx;
      margin-left: 12rpx;
    }

    .bar-type-text-notes {
      font-size: 20rpx;
      color: gray;
      margin-left: 10rpx;
    }
  }

  .vertical-percents-container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10rpx 0 10rpx 30rpx;
    margin: 10rpx;

    .vertical-percent-item {
      font-size: 32rpx;
      font-weight: bold;
      padding: 10rpx 0;
      margin-bottom: 4rpx;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .plates-row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 6rpx;
        gap: 12rpx;

        .plate-bg-25,
        .plate-bg-2_5 {
          background: #D6291D;
          color: #fff;
        }

        .plate-bg-20,
        .plate-bg-2 {
          background: #3F7DC4;
          color: #fff;
        }

        .plate-bg-15,
        .plate-bg-1_5 {
          background: #FDE674;
          color: #ad6800;
        }

        .plate-bg-10,
        .plate-bg-1 {
          background: #008261;
          color: #fff;
        }

        .plate-bg-5 {
          background: #222;
          color: #fff;
        }

        .plate-bg-0_5 {
          background: #fff;
          color: #222;
          border: 1rpx solid #eee;
        }
      }

      .plates-row text {
        font-size: 22rpx;
        border-radius: 6rpx;
        padding: 2rpx 10rpx;
      }
    }
  }
}